.menu .nav-menu.active,
.menu .nav-friends.active, .menu .nav-menu:hover,
.menu .nav-friends:hover {
  color: #ff575f !important;
  text-shadow: 0 0 7px #ff575f;
}

.menu .menu__nav--pages .nav-btns, .menu .menu__nav--friends .nav-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #6b6b6b;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: #2c2c2c;
  padding-bottom: 1.5rem;
}

.menu .menu__nav--pages {
  margin-bottom: 2rem;
}

.menu .menu__nav--pages .nav-btns {
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu__nav--pages .nav-btns .nav-slider {
  background-color: #ff575f;
  width: 10px;
  height: 2px;
  position: absolute;
  -webkit-transition: left 0.7s, top 0.7s;
  transition: left 0.7s, top 0.7s;
  -webkit-box-shadow: 0 0 5px #ff575f;
          box-shadow: 0 0 5px #ff575f;
}

.menu .menu__profile {
  margin-bottom: 1.5rem;
}

.menu .menu__profile .menu__profile__info {
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 1rem;
  border-radius: 1.2rem;
  border-color: #140000;
  background: -webkit-gradient(linear, left bottom, right top, from(#422021), to(#232323));
  background: linear-gradient(to top right, #422021, #232323);
}

.menu .menu__profile .menu__profile__info .menu__profile__info--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .menu__profile .menu__profile__info .menu__profile__info--name .photo {
  width: 25%;
  height: 25%;
  margin-right: 2rem;
}

.menu .menu__profile .menu__profile__info .menu__profile__info--name .online {
  color: #6b6b6b;
}

.menu .menu__profile .menu__profile__info .menu__profile__info--name .nickname {
  color: white;
  font-size: larger;
  font-weight: 500;
}

.menu .menu__profile .menu__profile__info--stats {
  margin-top: 0.5rem;
  color: #6b6b6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu__profile .menu__profile__balance {
  width: 90%;
  height: 100%;
  margin: 0.7rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu__profile .menu__profile__balance .btn-bal {
  width: 45%;
  height: 100%;
  border-radius: 0.7rem;
  background: -webkit-gradient(linear, left top, right top, from(#422021), to(#232323));
  background: linear-gradient(to right, #422021, #232323);
  color: white;
  text-align: left;
  cursor: default;
}

.menu .menu__profile .menu__profile__balance .btn-pay {
  width: 45%;
  height: 100%;
  border-radius: 0.7rem;
  background: -webkit-gradient(linear, left top, right top, from(#d8292f), to(#ff4047));
  background: linear-gradient(to right, #d8292f, #ff4047);
  -webkit-box-shadow: 0 0 10px #d8292f;
          box-shadow: 0 0 10px #d8292f;
  color: white;
}

.menu .menu__nav--friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.menu .menu__nav--friends .nav-btns {
  width: 75%;
  height: 75%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu__friends #friends-wrapper {
  margin: 0 auto;
}

.menu .menu__friends #friends-wrapper .friend {
  width: 100%;
  height: 4rem;
  background-color: #232323;
  border-radius: 20px;
}

.menu .menu__friends #friends-wrapper .friend .img {
  position: relative;
  top: 0.6rem;
  left: 0.6rem;
}

.menu .menu__friends #friends-wrapper .friend .online {
  color: #6b6b6b;
}

.menu .menu__friends #friends-wrapper::-webkit-scrollbar {
  width: 0px;
}

.menu .menu__add-friend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .menu__add-friend .wrapper {
  width: 75%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#d8292f), to(#ff4047));
  background: linear-gradient(to right, #d8292f, #ff4047);
  -webkit-box-shadow: 0 0 10px #d8292f;
          box-shadow: 0 0 10px #d8292f;
}

.menu .menu__add-friend .wrapper input {
  margin: auto;
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px dotted #c7c7c7;
  caret-color: #c7c7c7;
  color: white;
}

.menu .menu__add-friend .wrapper input::-webkit-input-placeholder {
  color: #c7c7c7;
}

.menu .menu__add-friend .wrapper input:focus {
  outline: none;
}

.menu .nav-menu,
.menu .nav-friends {
  margin: auto;
  color: #6b6b6b;
}

.content {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  background-color: green;
  padding: 1.5rem 3rem;
  background-color: #232323;
}

.content .content__bunker {
  background: -webkit-gradient(linear, left bottom, left top, from(#e42b32), to(#fe3f47));
  background: linear-gradient(to top, #e42b32, #fe3f47);
  border-radius: 1rem;
  height: 30vh;
  padding: 1.5rem 3rem;
  margin-bottom: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .content__bunker .content__bunker--head {
  width: 100%;
  color: white;
}

.content .content__bunker .content__bunker--body {
  width: 100%;
  color: white;
}

.content .content__bunker .content__bunker--search {
  width: 100%;
}

.content .content__ads {
  width: 100%;
  height: 25vh;
  margin-bottom: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .content__ads .ad {
  border-radius: 1.5rem;
}

.content .content__ads .ad#ad1 {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  background-color: #01ded7;
}

.content .content__ads .ad#ad2 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: #2c2c2c;
}

.content .content__ads .ad#ad3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: #358162;
}

.content .content__chat {
  width: 100%;
  height: 30vh;
}

.content .content__chat .messages {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 80%;
  background-color: #2c2c2c;
}

.content .content__chat .enter {
  border-radius: 0 0 1rem 1rem;
  width: 100%;
  height: 20%;
  background-color: #191818;
}

.btn.focus,
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.focus.btn-pay,
.btn:focus.btn-pay {
  -webkit-box-shadow: 0 0 10px #ff575f;
          box-shadow: 0 0 10px #ff575f;
}
/*# sourceMappingURL=main.css.map */