$online_cl: #00ff00;
$offline_cl: #ff0000;
$menu_bg_cl: #2c2c2c;
$txt_cl: #6b6b6b;
$txt_hl_cl: #ff575f;
$txt_name_cl: white;
$indicator_w: 7px;
$indicator_h: 7px;

%highlight-nav {
  color: $txt_hl_cl !important;
  text-shadow: 0 0 7px $txt_hl_cl;
}

%navs {
  display: flex;
  border-bottom: 2px solid $txt_cl;
}

@mixin size($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

.menu {
  @include size(25%);
  background-color: $menu_bg_cl;
  padding-bottom: 1.5rem;

  .menu__nav--pages {
    margin-bottom: 2rem;
    .nav-btns {
      @extend %navs;
      @include size();
      justify-content: space-between;
    }
  }

  .menu__profile {
    margin-bottom: 1.5rem;
    .menu__profile__info {
      @include size(90%);
      margin: auto;
      padding: 1rem;
      border-radius: 1.2rem;
      border-color: rgb(20, 0, 0);
      background: linear-gradient(to top right, #422021, #232323);
      .menu__profile__info--name {
        display: flex;
        .photo {
          @include size(25%, 25%);
          margin-right: 2rem;
        }
        .online {
          color: $txt_cl;
        }
        .nickname {
          color: $txt_name_cl;
          font-size: larger;
          font-weight: 500;
        }
      }
    }

    .menu__profile__info--stats {
      margin-top: 0.5rem;
      color: $txt_cl;
      display: flex;
      justify-content: space-between;
    }

    .menu__profile__balance {
      @include size(90%);
      margin: 0.7rem auto 0 auto;
      display: flex;
      justify-content: space-between;
      .btn-bal {
        @include size(45%);
        border-radius: 0.7rem;
        background: linear-gradient(to right, #422021, #232323);
        color: $txt_name_cl;
        text-align: left;
        cursor: default;
      }
      .btn-pay {
        @include size(45%);
        border-radius: 0.7rem;
        background: linear-gradient(to right, #d8292f, #ff4047);
        box-shadow: 0 0 10px #d8292f;
        color: $txt_name_cl;
      }
    }
  }

  .menu__nav--friends {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    .nav-btns {
      @extend %navs;
      @include size(75%, 75%);
      justify-content: space-between;
    }
  }

  .menu__friends {
    #friends-wrapper {
      margin: 0 auto;
      .friend {
        @include size($height: 4rem);
        background-color: #232323;
        border-radius: 20px;
        .img {
          position: relative;
          top: 0.6rem;
          left: 0.6rem;
        }
        .online {
          color: $txt_cl;
        }
      }
      &::-webkit-scrollbar {
        width: 0px;
      }
    }
  }

  .menu__add-friend {
    display: flex;
    justify-content: center;
    .wrapper {
      @include size(75%, 4rem);
      color: $txt_name_cl;
      border-radius: 20px;
      background: linear-gradient(to right, #d8292f, #ff4047);
      box-shadow: 0 0 10px #d8292f;
      input {
        margin-left: 3rem;
        background: transparent;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px dotted #c7c7c7;
        caret-color: #c7c7c7;
        color: white;
        &::-webkit-input-placeholder {
          color: #c7c7c7;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }

  .nav-menu,
  .nav-friends {
    margin: auto;
    color: $txt_cl;
    &.active {
      @extend %highlight-nav;
    }
    &:hover {
      @extend %highlight-nav;
    }
  }
  .nav-slider {
    background-color: $txt_hl_cl;
    width: 10px;
    height: 2px;
    position: absolute;
    transition: left 0.7s, top 0.7s;
    box-shadow: 0 0 5px $txt_hl_cl;
  }
}

.btn.focus,
.btn:focus {
  &.btn-pay {
    box-shadow: 0 0 10px $txt_hl_cl;
  }
  box-shadow: none;
}
