$online_color : #00ff00;
$offline_color : #ff0000;
$indicator_w : 7px;
$indicator_h : 7px;

%highlight-nav{
  color: #d60f0f !important;
  text-shadow: 0 0 7px #d60f0f;
}

.btn:focus{
  box-shadow: none !important;
}
.left-side{
  background-color: #232323;
  background: linear-gradient(to right, #232323, #141414);
}
.nav-pan, .friends-pan{
  border-bottom: 2px solid #ffffff;
}
.nav-menu, .profile-bal, .nav-friends{
  margin: auto;
}
.nav-menu, .nav-friends{
  &.active{
    color: #d60f0f !important;
  }
  &:hover{
    @extend %highlight-nav;
  }
}
.profile-info{
  margin: auto;
  border-radius: 1.2rem;
  border-color: rgb(20, 0, 0);
  background-color: rgba(20, 0, 0, 0.87);
  background: linear-gradient(to top right, #4f0000, #0c0c0c);
}
.btn-bal{
  border-radius: .7rem;
  background-color: rgba(20, 0, 0, 0.87);
  background: linear-gradient(to right, #4f0000, #0c0c0c);
}
.btn-pay{
  border-radius: .7rem;
  background-color: #d02d2d;
  background: linear-gradient(to right, #d02d2d, #d44747);
  box-shadow: 0 0 10px #D02D2D;
}
.sphere {
  margin: .7rem;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  position: relative;
  width: $indicator_w;
  height: $indicator_h;
  background-color: $online_color;
  box-shadow: 0 0 10px $online_color, 3px 3px 10px $online_color, -3px -3px 10px $online_color, -3px 3px 10px $online_color, 3px -3px 10px $online_color;
  display: inline-block;
}
.nav-slider{
  background-color: #d60f0f;
  width: 10px;
  height: 2px;
  position: absolute;
  transition: left .7s, top .7s;
}